body {
    font-family: sans-serif;
    background-color: black;
}

.blob {
    width: 200px;
    height: 200px;
    background-color: pink;
    position: absolute;
}

#upControl {
    top: 200px;
    left: 400px;
}

#downControl {
    top: 600px;
    left: 400px;
}

#leftControl {
    top: 600px;
    left: 100px;
}

#rightControl {
    top: 600px;
    left: 700px;
}
